attached_assets/Premium Landscapes – Full Garden Redesign unconnected_1762890890469.json
{
  "name": "Premium Landscapes – Full Garden Redesign (v1.0.1)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "premium-landscapes-full-redesign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a428c716-4179-4182-b5a1-c907406052f1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1904,
        16
      ],
      "webhookId": "61a61d0e-febc-47fe-bb92-4cd0327c3a35",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a02f0911-b717-4756-a560-c2668dda37ac",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2960,
        48
      ]
    },
    {
      "parameters": {},
      "id": "46071d9c-8600-46a7-ad7a-15e28f3b0fee",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        576
      ]
    },
    {
      "parameters": {
        "fromEmail": "Premiumlandscapesuk@gmail.com",
        "toEmail": "thedigitaltailorsdxb@gmail.com",
        "subject": "={{`⚠️ Full Redesign Workflow Error – ${$json.execution?.lastNodeExecuted || 'Unknown'}`}}",
        "html": "<div><p><strong>Error:</strong> {{$json.error.message || 'Unknown error'}}</p><p>Execution ID: {{$json.execution.id}}</p></div>",
        "options": {}
      },
      "id": "b97b4dc1-b9b0-4c95-b48c-fd19d7208b88",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1504,
        576
      ],
      "webhookId": "77d19835-6d51-4525-a29e-085d92a85636",
      "credentials": {
        "smtp": {
          "id": "dLpXH6yljIeIoVw6",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        896
      ],
      "typeVersion": 1,
      "id": "80e3933c-549f-4e12-b37a-80e5d542e33b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// === Validate Input (Premium Landscapes) v1.4 ===\n// Accepts either {body:{...}} (webhook) or flat JSON (mock/manual).\n// Produces a normalized, type-safe payload for downstream nodes.\n\nconst src = $json.body ?? $json ?? {};\nconst nowIso = new Date().toISOString();\n\n// ---------- helpers ----------\nconst toStr = (v, d = \"\") => (v == null ? d : String(v).trim());\nconst toNum = (v, d = 0) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : d;\n};\nconst clamp = (n, lo, hi) => Math.min(Math.max(n, lo), hi);\nconst asArray = (v) => (Array.isArray(v) ? v : v == null ? [] : [v]);\nconst normBool = (v) => {\n  if (typeof v === \"boolean\") return v;\n  const s = String(v ?? \"\").toLowerCase();\n  return [\"1\", \"true\", \"yes\", \"on\"].includes(s);\n};\nconst normPostcode = (pc) => {\n  const s = toStr(pc).toUpperCase().replace(/\\s+/g, \" \").trim();\n  return s;\n};\nconst uniq = (arr) => Array.from(new Set(arr));\n\n// ---------- pick roots ----------\nconst customerIn = src.customer ?? {};\nconst projectIn  = src.project ?? {};\nconst gdRaw      = projectIn.gardenDesign ?? {};\nconst extrasIn   = projectIn.extras ?? {};\nconst productsIn = projectIn.products ?? [];\n\n// ---------- coerce numerics & sane bounds ----------\nconst totalArea_m2    = clamp(toNum(projectIn.totalArea_m2, 0), 0, 10000);\nconst totalBudget_gbp = clamp(toNum(projectIn.totalBudget_gbp, 0), 0, 1_000_000);\n\n// ---------- determine if budget-based design ----------\nconst rawFlag =\n  gdRaw.budgetBasedDesign ??\n  src.form?.budgetMode ??\n  src.budgetMode ??\n  (totalBudget_gbp > 0);   // auto-enable if any positive budget exists\n\nconst budgetBasedDesign = normBool(rawFlag);\n\n// ---------- materials ----------\nlet materials = [];\nif (Array.isArray(gdRaw.materials) && gdRaw.materials.length) {\n  materials = gdRaw.materials;\n} else if (gdRaw.categories && typeof gdRaw.categories === \"object\") {\n  materials = Object.values(gdRaw.categories).flat().filter(Boolean);\n}\nmaterials = uniq(\n  materials\n    .map((m) => (typeof m === \"string\" ? m : m?.type || m?.name || \"\"))\n    .map((s) => s.trim())\n    .filter(Boolean)\n);\n\n// ---------- normalize customer ----------\nconst customer = {\n  name:     toStr(customerIn.name),\n  email:    toStr(customerIn.email).toLowerCase(),\n  phone:    toStr(customerIn.phone),\n  postcode: normPostcode(customerIn.postcode),\n  city:     toStr(customerIn.city),\n  street:   toStr(customerIn.street),\n  houseNumber: toStr(customerIn.houseNumber),\n  address:  toStr(customerIn.address),\n  ...customerIn,\n};\n\n// ---------- normalize project ----------\nconst project = {\n  type:  toStr(projectIn.type, \"full_garden_redesign\"),\n  title: toStr(projectIn.title, \"Complete Garden Redesign\"),\n  totalArea_m2,\n  totalBudget_gbp,\n  layoutType: toStr(projectIn.layoutType || \"standard\"),\n  sunlight: toStr(projectIn.sunlight || \"\"),\n  stylePreference: toStr(projectIn.stylePreference || \"\"),\n  maintenanceLevel: toStr(projectIn.maintenanceLevel || \"\"),\n  siteConditions: {\n    access:   toStr(projectIn.siteConditions?.access),\n    soilType: toStr(projectIn.siteConditions?.soilType),\n    drainage: toStr(projectIn.siteConditions?.drainage),\n    ...projectIn.siteConditions,\n  },\n  products: Array.isArray(productsIn) ? productsIn : [],\n  extras: typeof extrasIn === \"object\" ? extrasIn : {},\n  notes: toStr(projectIn.notes),\n  gardenDesign: {\n    ...gdRaw,\n    budgetBasedDesign,\n    materials,\n    totalMaterialCount: materials.length,\n  },\n};\n\n// ---------- validations ----------\nconst errors = [];\nconst warnings = [];\n\nif (!customer.email && !customer.phone) {\n  warnings.push(\"Customer has no email or phone; follow-up may fail.\");\n}\nif (!project.totalArea_m2) {\n  warnings.push(\"Total area (m²) was not provided.\");\n}\nif (!project.totalBudget_gbp && budgetBasedDesign) {\n  errors.push(\"Budget-based design selected but no budget provided.\");\n}\nif (customer.email && !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(customer.email)) {\n  warnings.push(\"Customer email looks invalid.\");\n}\n\n// ---------- mirrors ----------\nconst mirrors = {\n  budgetBasedDesign,\n  totalBudget_gbp: project.totalBudget_gbp,\n  totalArea_m2: project.totalArea_m2,\n};\n\n// ---------- final output ----------\nreturn [{\n  json: {\n    meta: {\n      normalizedAt: nowIso,\n      source: toStr(src.metadata?.source || src.source || \"\"),\n    },\n    customer,\n    project,\n    ...mirrors,\n    valid: errors.length === 0,\n    errors,\n    warnings,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        16
      ],
      "id": "a992a308-6eac-45d9-a897-48dc47d75b0b",
      "name": "validate Input"
    },
    {
      "parameters": {
        "jsCode": "// === Premium Landscapes | Calculate Pricing (v2.6 budget-cap 95% + extras + dedupe) ===\n// - Fencing-first quantity logic\n// - Sunken Firepit as EACH with default rate when unitRate omitted\n// - Lighting +50%\n// - Extra unit synonyms + NaN guards\n// - 95% budget cap filler (firepit → pergola → planters)\n// - NEW: de-duplicate identical lines (same category+variant+unit) before totals\n//        and again after budget-cap filler\n\nconst CONTINGENCY_PCT = 0.05;\nconst VAT_PCT = 0.20;\nconst LIGHTING_MULTIPLIER = 1.5;\nconst DEFAULT_FIREPIT_RATE = 1950;\n\n// ---------- PRICE LIST ----------\nconst RATES = {\n  patios: {\n    indian_sandstone: 125,\n    porcelain_20mm: 130,\n    limestone: 120,\n    granite: 150,\n    slate: 140,\n    concrete_paving: 100,\n    block_paving: 90,\n    resin_bound_incl_base: 180,\n    stepping_stone: 80,\n    patterned_inlay_border: 35\n  },\n  decking: {\n    composite: 170,\n    softwood_treated: 110,\n    hardwood: 165,\n    subframe_pedestals: 75\n  },\n  turf: {\n    natural_rolled: 30,\n    artificial_35_40mm: 85,\n    regrade_topsoil: 62,\n    lawn_edging: 15,\n    wildflower_turf: 36\n  },\n  fencing: {\n    closeboard_featheredge: 85,\n    double_slatted_venetian: 132,\n    decorative_trellis_panel: 96,\n    concrete_posts_gravel_boards: 66,\n    timber_posts_gravel_boards: 54,\n    timber_garden_gate: 336\n  },\n  walls: {\n    sleeper_retaining_wall: 192,\n    brick_garden_wall: 240,\n    rendered_block_planter: 216,\n    stone_walling_cladding: 264,\n    paving_edging_kerbs_setts: 36,\n    copings_caps: 42\n  },\n  access: {\n    paved_steps: 192,\n    bullnose_step_tread: 114,\n    gravel_path_with_grids: 66,\n    non_slip_ramp_threshold: 216\n  },\n  drainage: {\n    linear_aco_channel: 54,\n    soakaway_crate_system: 780,\n    recessed_manhole_cover: 216\n  },\n  structures: {\n    timber_pergola_3x3: 1950,\n    pond_liner_natural_edge: 192,\n    timber_pergola_freestanding_hd: 1780,\n    timber_pergola_attached: 1600\n  },\n  aquatics: {\n    wildlife_pond_flexible_liner: 168,\n    reed_bed_filtration_zone: 102\n  },\n  water_features: {\n    corten_bowl_on_plinth: 780,\n    corten_water_table: 1680\n  },\n  aggregates: {\n    decorative_stone_per_tonne: 200\n  },\n  lighting: {\n    default: 75,\n    spike: 75,\n    deck_uplight: 75,\n    bollard: 95,\n    step_light: 85,\n    wall_light: 90,\n    transformer_each: 120,\n    cable_per_m: 2.5\n  },\n  features: {\n    sunken_firepit_each: 0 // defaulted below if not overridden\n  }\n};\n\nconst MIN_PROJECTS = {\n  'structures.pond_liner_natural_edge': 2000,\n  'aquatics.wildlife_pond_flexible_liner': 1800\n};\n\n// ---------- Helpers ----------\nconst to2 = (n) => +((Number(n) || 0).toFixed(2));\nconst lc  = (s) => (s || '').toLowerCase();\nconst num = (v) => (v == null || v === '' ? 0 : Number(v) || 0);\nfunction pickLength(item) { return num(item.length_m) || num(item.length) || num(item.metres) || num(item.m) || 0; }\n\n// ---------- Quantity/Unit detection (fencing first) ----------\nfunction getQtyUnit(item) {\n  const t  = lc(item.type);\n  const m  = lc(item.material || item.variant || '');\n  const ut = lc(item.unitType || '');\n\n  if (t.includes('firepit') || m.includes('firepit')) {\n    return { qty: num(item.qty) || 1, unit: 'each' };\n  }\n\n  if (t.includes('fenc') || t.includes('screen') || t.includes('trellis') || t.includes('gate')) {\n    const panels = num(item.panels);\n    const bays   = num(item.bays);\n    const len    = pickLength(item);\n\n    if (t.includes('trellis'))             return { qty: panels || num(item.qty), unit: 'panel' };\n    if (t.includes('gate'))                return { qty: num(item.qty) || 1,      unit: 'each'  };\n    if (t.includes('post') || t.includes('gravel')) {\n      if (bays)                            return { qty: bays, unit: 'bay' };\n      if (len)                             return { qty: len,  unit: 'lm'  };\n      return { qty: 0, unit: 'bay' };\n    }\n    if (panels)                            return { qty: panels, unit: 'panel' };\n    if (bays)                              return { qty: bays,   unit: 'bay'   };\n    if (len)                               return { qty: len,    unit: 'lm'    };\n    return { qty: 0, unit: 'lm' };\n  }\n\n  if (['m2','m²','sqm','sq m'].includes(ut)) return { qty: num(item.area_m2), unit: 'm²' };\n  if (ut === 'lm' || ut === 'm')            return { qty: pickLength(item),  unit: 'lm' };\n  if (ut === 'qty')                         return { qty: num(item.fittings ?? item.qty), unit: 'qty' };\n  if (ut === 'panel')                       return { qty: num(item.panels ?? item.qty),   unit: 'panel' };\n  if (ut === 'bay')                         return { qty: num(item.bays   ?? item.qty),   unit: 'bay' };\n  if (ut === 'step')                        return { qty: num(item.steps  ?? item.qty),   unit: 'step' };\n  if (ut === 'each')                        return { qty: num(item.qty) || 1,             unit: 'each' };\n  if (ut === 'tonne' || ut === 't')         return { qty: num(item.tonnes ?? item.qty),   unit: 'tonne' };\n\n  const isAreaSurf = t.includes('patio') || t.includes('paving') || t.includes('deck') || t.includes('turf') || t.includes('lawn') || (t.includes('gravel') && t.includes('path'));\n  if (isAreaSurf) return { qty: num(item.area_m2), unit: 'm²' };\n\n  if (t.includes('stepping') || m.includes('stepping'))\n    return { qty: pickLength(item), unit: 'lm' };\n\n  if (t.includes('edging') || t.includes('kerb') || t.includes('coping') || t.includes('aco'))\n    return { qty: pickLength(item), unit: 'lm' };\n\n  if (t.includes('step') || t.includes('bullnose') || t.includes('ramp') || t.includes('threshold')) {\n    if (t.includes('bullnose') || m.includes('bullnose')) return { qty: num(item.qty) || 1, unit: 'each' };\n    if (t.includes('ramp') || t.includes('threshold'))     return { qty: num(item.qty) || 1, unit: 'each' };\n    return { qty: num(item.steps ?? item.qty), unit: 'step' };\n  }\n\n  if (t.includes('wall') || t.includes('planter') || t.includes('cladding'))\n    return { qty: num(item.area_m2), unit: 'm²' };\n\n  if (t.includes('manhole') || t.includes('soakaway')) return { qty: num(item.qty) || 1, unit: 'each' };\n  if (t.includes('drain')   || t.includes('aco'))      return { qty: pickLength(item), unit: 'lm' };\n\n  if (t.includes('gate') || t.includes('bowl') || t.includes('table') || t.includes('pergola') || t.includes('feature'))\n    return { qty: num(item.qty) || 1, unit: 'each' };\n\n  if (t.includes('lighting')) return { qty: num(item.fittings ?? item.qty), unit: 'qty' };\n\n  if ((t.includes('stone') || t.includes('aggregate') || t.includes('gravel')) && !t.includes('path'))\n    return { qty: num(item.tonnes ?? item.qty), unit: 'tonne' };\n\n  return { qty: num(item.qty), unit: item.unitType || '' };\n}\n\n// ---------- Category / variant ----------\nfunction classify(item) {\n  const t = lc(item.type);\n  const m = lc(item.material || item.variant || '');\n\n  if (t.includes('lighting')) {\n    if (m.includes('transformer')) return { cat: 'lighting', var: 'transformer_each', baseUnit: 'each' };\n    if (m.includes('cable'))       return { cat: 'lighting', var: 'cable_per_m',      baseUnit: 'lm'   };\n    if (m.includes('spike'))       return { cat: 'lighting', var: 'spike',            baseUnit: 'qty'  };\n    if (m.includes('uplight') || m.includes('deck')) return { cat: 'lighting', var: 'deck_uplight', baseUnit: 'qty' };\n    if (m.includes('bollard'))     return { cat: 'lighting', var: 'bollard',          baseUnit: 'qty'  };\n    if (m.includes('step'))        return { cat: 'lighting', var: 'step_light',       baseUnit: 'qty'  };\n    if (m.includes('wall'))        return { cat: 'lighting', var: 'wall_light',       baseUnit: 'qty'  };\n    return { cat: 'lighting', var: 'default', baseUnit: 'qty' };\n  }\n\n  if (t.includes('patio') || t.includes('paving') || t.includes('block paving') || t.includes('resin')) {\n    if (t.includes('block'))                 return { cat: 'patios', var: 'block_paving',             baseUnit: 'm²' };\n    if (t.includes('resin'))                 return { cat: 'patios', var: 'resin_bound_incl_base',    baseUnit: 'm²' };\n    if (t.includes('stepping') || m.includes('stepping')) return { cat: 'patios', var: 'stepping_stone', baseUnit: 'lm' };\n    if (t.includes('border') || t.includes('inlay'))      return { cat: 'patios', var: 'patterned_inlay_border', baseUnit: 'lm' };\n    if (m.includes('porcelain') || t.includes('porcelain')) return { cat: 'patios', var: 'porcelain_20mm', baseUnit: 'm²' };\n    if (m.includes('sandstone') || t.includes('sandstone')) return { cat: 'patios', var: 'indian_sandstone', baseUnit: 'm²' };\n    if (m.includes('limestone')) return { cat: 'patios', var: 'limestone', baseUnit: 'm²' };\n    if (m.includes('granite'))   return { cat: 'patios', var: 'granite',   baseUnit: 'm²' };\n    if (m.includes('slate'))     return { cat: 'patios', var: 'slate',     baseUnit: 'm²' };\n    return { cat: 'patios', var: 'concrete_paving', baseUnit: 'm²' };\n  }\n\n  if (t.includes('deck')) {\n    if (m.includes('composite')) return { cat: 'decking', var: 'composite',         baseUnit: 'm²' };\n    if (m.includes('hardwood'))  return { cat: 'decking', var: 'hardwood',          baseUnit: 'm²' };\n    if (m.includes('softwood') || t.includes('softwood')) return { cat: 'decking', var: 'softwood_treated', baseUnit: 'm²' };\n    if (t.includes('subframe') || t.includes('pedestal')) return { cat: 'decking', var: 'subframe_pedestals', baseUnit: 'm²' };\n    return { cat: 'decking', var: 'composite', baseUnit: 'm²' };\n  }\n\n  if (t.includes('turf') || t.includes('lawn') || t.includes('wildflower')) {\n    if (t.includes('wildflower')) return { cat: 'turf', var: 'wildflower_turf',     baseUnit: 'm²' };\n    if (m.includes('artificial')) return { cat: 'turf', var: 'artificial_35_40mm',  baseUnit: 'm²' };\n    if (t.includes('regrad') || t.includes('level')) return { cat: 'turf', var: 'regrade_topsoil', baseUnit: 'm²' };\n    if (t.includes('edging'))     return { cat: 'turf', var: 'lawn_edging',         baseUnit: 'lm' };\n    return { cat: 'turf', var: 'natural_rolled', baseUnit: 'm²' };\n  }\n\n  if (t.includes('fenc') || t.includes('screen') || t.includes('trellis') || t.includes('gate')) {\n    if (t.includes('trellis')) return { cat: 'fencing', var: 'decorative_trellis_panel', baseUnit: 'panel' };\n    if (t.includes('concrete') && (t.includes('post') || t.includes('gravel'))) return { cat: 'fencing', var: 'concrete_posts_gravel_boards', baseUnit: 'bay' };\n    if (t.includes('timber')   && (t.includes('post') || t.includes('gravel'))) return { cat: 'fencing', var: 'timber_posts_gravel_boards',   baseUnit: 'bay' };\n    if (t.includes('gate')) return { cat: 'fencing', var: 'timber_garden_gate', baseUnit: 'each' };\n    if (t.includes('double') || t.includes('venetian') || t.includes('slatted')) return { cat: 'fencing', var: 'double_slatted_venetian', baseUnit: 'lm' };\n    if (m.includes('feather') || m.includes('closeboard') || t.includes('feather')) {\n      return { cat: 'fencing', var: 'closeboard_featheredge', baseUnit: 'lm' };\n    }\n    return { cat: 'fencing', var: 'closeboard_featheredge', baseUnit: 'lm' };\n  }\n\n  if (t.includes('wall') || t.includes('planter') || t.includes('cladding') || t.includes('coping') || t.includes('kerb') || t.includes('sett')) {\n    if (t.includes('sleeper')) return { cat: 'walls', var: 'sleeper_retaining_wall', baseUnit: 'm²' };\n    if (t.includes('brick'))   return { cat: 'walls', var: 'brick_garden_wall',      baseUnit: 'm²' };\n    if (t.includes('render') || t.includes('planter')) return { cat: 'walls', var: 'rendered_block_planter', baseUnit: 'm²' };\n    if (t.includes('stone') || t.includes('cladding')) return { cat: 'walls', var: 'stone_walling_cladding', baseUnit: 'm²' };\n    if (t.includes('coping') || t.includes('cap'))     return { cat: 'walls', var: 'copings_caps',            baseUnit: 'lm' };\n    if (t.includes('edging') || t.includes('kerb') || t.includes('sett')) return { cat: 'walls', var: 'paving_edging_kerbs_setts', baseUnit: 'lm' };\n  }\n\n  if (t.includes('step') || t.includes('bullnose') || t.includes('ramp') || (t.includes('gravel') && t.includes('path'))) {\n    if (t.includes('bullnose')) return { cat: 'access', var: 'bullnose_step_tread', baseUnit: 'each' };\n    if (t.includes('ramp') || t.includes('threshold')) return { cat: 'access', var: 'non_slip_ramp_threshold', baseUnit: 'each' };\n    if (t.includes('gravel') && t.includes('path')) return { cat: 'access', var: 'gravel_path_with_grids', baseUnit: 'm²' };\n    return { cat: 'access', var: 'paved_steps', baseUnit: 'step' };\n  }\n\n  if (t.includes('aco') || t.includes('drain') || t.includes('soakaway') || t.includes('manhole')) {\n    if (t.includes('aco') || t.includes('channel')) return { cat: 'drainage', var: 'linear_aco_channel', baseUnit: 'lm' };\n    if (t.includes('soakaway')) return { cat: 'drainage', var: 'soakaway_crate_system', baseUnit: 'each' };\n    return { cat: 'drainage', var: 'recessed_manhole_cover', baseUnit: 'each' };\n  }\n\n  if (t.includes('pergola') || t.includes('pond') || t.includes('liner')) {\n    if (t.includes('3x3')) return { cat: 'structures', var: 'timber_pergola_3x3', baseUnit: 'each' };\n    if (t.includes('freestanding') || t.includes('heavy')) return { cat: 'structures', var: 'timber_pergola_freestanding_hd', baseUnit: 'each' };\n    if (t.includes('attached') || t.includes('ledger')) return { cat: 'structures', var: 'timber_pergola_attached', baseUnit: 'each' };\n    if (t.includes('pond') || t.includes('liner')) return { cat: 'structures', var: 'pond_liner_natural_edge', baseUnit: 'm²' };\n  }\n\n  if (t.includes('wildlife pond') || (t.includes('pond') && t.includes('wildlife')) || t.includes('reed bed')) {\n    if (t.includes('reed')) return { cat: 'aquatics', var: 'reed_bed_filtration_zone', baseUnit: 'm²' };\n    return { cat: 'aquatics', var: 'wildlife_pond_flexible_liner', baseUnit: 'm²' };\n  }\n\n  if (t.includes('corten') || t.includes('water table') || t.includes('water bowl')) {\n    if (t.includes('table')) return { cat: 'water_features', var: 'corten_water_table', baseUnit: 'each' };\n    return { cat: 'water_features', var: 'corten_bowl_on_plinth', baseUnit: 'each' };\n  }\n\n  if (t.includes('firepit') || m.includes('firepit')) {\n    return { cat: 'features', var: 'sunken_firepit_each', baseUnit: 'each' };\n  }\n\n  if (t.includes('decorative') && t.includes('stone')) {\n    return { cat: 'aggregates', var: 'decorative_stone_per_tonne', baseUnit: 'tonne' };\n  }\n\n  return { cat: null, var: null, baseUnit: item.unitType || '' };\n}\n\n// ---------- Rate lookup ----------\nfunction rateFor(item) {\n  const { cat, var: variant } = classify(item);\n\n  if (item.unitRate != null && !isNaN(Number(item.unitRate))) {\n    return Number(item.unitRate);\n  }\n\n  if (cat === 'features' && variant === 'sunken_firepit_each') {\n    return DEFAULT_FIREPIT_RATE;\n  }\n\n  if (!cat || !variant || !RATES[cat] || RATES[cat][variant] == null) return 0;\n\n  if (cat === 'patios' && variant === 'block_paving' && item.drivewaySpec === true)\n    return RATES.patios.block_paving + 20;\n\n  const base = RATES[cat][variant];\n  if (cat === 'lighting') return +(base * LIGHTING_MULTIPLIER).toFixed(2);\n  return base;\n}\n\nfunction applyMinimums(catVarKey, qty, unit, line) {\n  const min = MIN_PROJECTS[catVarKey];\n  if (!min) return line;\n  if (unit === 'm²' && line < min) return min;\n  return line;\n}\n\n// ---------- Dedupe helper ----------\nfunction coalesceLines(lines) {\n  const merged = new Map();\n  for (const r of lines) {\n    const qty  = Number(r.qty) || 0;\n    const line = Number(r.lineTotal) || 0;\n    if (qty <= 0 || line <= 0) continue;\n\n    const unit = (r.unit || '').trim();\n    const key = `${r.category}|${r.variant}|${unit}`;\n    const prev = merged.get(key);\n    if (prev) {\n      prev.qty       = to2((Number(prev.qty)||0) + qty);\n      prev.lineTotal = to2((Number(prev.lineTotal)||0) + line);\n      // keep unitCost as-is (unit price is illustrative)\n    } else {\n      merged.set(key, { ...r });\n    }\n  }\n  return Array.from(merged.values());\n}\n\n// ------------ MAIN ------------\nconst d = $json;\nconst products = Array.isArray(d.project?.products) ? d.project.products : [];\nconst extras = d.project?.extras || {};\nconst budget = Number($node[\"validate Input\"].json.project?.totalBudget_gbp || 0);\nconst BUDGET_CAP = Math.floor(budget * 0.95);\n\nlet breakdown = [];\nlet subtotal = 0;\n\n// base products\nfor (const item of products) {\n  const { qty, unit } = getQtyUnit(item);\n  const { cat, var: variant } = classify(item);\n  const desc = item.description || item.type || '';\n\n  const q = Number(qty) || 0;\n  const unitRate = Number(rateFor(item)) || 0;\n  let line = q * unitRate;\n\n  if (cat && variant) {\n    const key = `${cat}.${variant}`;\n    line = applyMinimums(key, q, unit, line);\n  }\n\n  breakdown.push({\n    item: item.type || '',\n    category: cat || '',\n    variant: variant || '',\n    description: desc,\n    qty: to2(q),\n    unit,\n    unitCost: to2(unitRate),\n    lineTotal: to2(line),\n  });\n\n  subtotal += line;\n}\n\n// explicit extras\nfor (const [key, extra] of Object.entries(extras)) {\n  if (extra?.include && (extra?.costEstimate != null)) {\n    const cost = Number(extra.costEstimate) || 0;\n    breakdown.push({\n      item: key,\n      category: 'extras',\n      variant: key,\n      description: extra.type || key,\n      qty: 1,\n      unit: 'item',\n      unitCost: to2(cost),\n      lineTotal: to2(cost),\n    });\n    subtotal += cost;\n  }\n}\n\n// ---------- FIRST DEDUPE (before budget filler & totals) ----------\nbreakdown = coalesceLines(breakdown);\nsubtotal = breakdown.reduce((s, r) => s + (Number(r.lineTotal) || 0), 0);\n\n// ---------- Budget-cap filler (firepit → pergola → planters) ----------\nfunction projectedTotal(withSubtotal) {\n  const contingency = withSubtotal * CONTINGENCY_PCT;\n  const preVat = withSubtotal + contingency;\n  const vat = preVat * VAT_PCT;\n  return preVat + vat;\n}\n\nfunction tryAddLine({ item, category, variant, qty, unit, unitCost }) {\n  const addCost = qty * unitCost;\n  const newSubtotal = subtotal + addCost;\n  if (projectedTotal(newSubtotal) <= BUDGET_CAP) {\n    breakdown.push({\n      item, category, variant,\n      description: variant.replace(/_/g,' '),\n      qty: to2(qty), unit,\n      unitCost: to2(unitCost),\n      lineTotal: to2(addCost),\n    });\n    subtotal = newSubtotal;\n    return true;\n  }\n  return false;\n}\n\nif (budget > 0 && projectedTotal(subtotal) < BUDGET_CAP) {\n  const firepitRate = rateFor({ type: \"firepit\", material: \"firepit\" }) || DEFAULT_FIREPIT_RATE;\n  tryAddLine({\n    item: \"firepit\",\n    category: \"features\",\n    variant: \"sunken_firepit_each\",\n    qty: 1,\n    unit: \"each\",\n    unitCost: firepitRate\n  });\n\n  tryAddLine({\n    item: \"pergola\",\n    category: \"structures\",\n    variant: \"timber_pergola_3x3\",\n    qty: 1,\n    unit: \"each\",\n    unitCost: RATES.structures.timber_pergola_3x3\n  });\n\n  const planterRate = RATES.walls.rendered_block_planter;\n  let added = 0;\n  while (added < 12 && projectedTotal(subtotal + planterRate) <= BUDGET_CAP) {\n    tryAddLine({\n      item: \"planter\",\n      category: \"walls\",\n      variant: \"rendered_block_planter\",\n      qty: 1,\n      unit: \"m²\",\n      unitCost: planterRate\n    });\n    added++;\n  }\n}\n\n// ---------- SECOND DEDUPE (after budget filler) ----------\nbreakdown = coalesceLines(breakdown);\nsubtotal = breakdown.reduce((s, r) => s + (Number(r.lineTotal) || 0), 0);\n\n// ---------- totals ----------\nconst contingency = to2(subtotal * CONTINGENCY_PCT);\nconst preVat = to2(subtotal + contingency);\nconst vat = to2(preVat * VAT_PCT);\nconst total = to2(preVat + vat);\n\nreturn [{\n  json: {\n    pricing: {\n      breakdown,\n      subtotal: to2(subtotal),\n      contingency,\n      vat,\n      total\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        48
      ],
      "id": "f1314a9e-974c-4658-b47f-838b21be1f2e",
      "name": "Calculate pricing"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nconst items = j.pricing?.items || [];\nconst name = j.customer?.name || 'Client';\nconst bullets = items.slice(0,6).map(it => `• ${it.item} – ${it.unitQty} ${it.unit}`).join('\\n');\n\nconst body =\n`Hi ${name},\n\nThanks for requesting a full garden redesign quote. We’ve scoped a clean, modern scheme with quality finishes.\n\nHighlights:\n${bullets || '• Materials and quantities captured from your form.'}\n\nEstimated total (incl. VAT): £${(j.pricing?.total ?? 0).toLocaleString('en-GB')}.\n${j.project?.gardenDesign?.designVisionNotes ? `Notes you shared: ${j.project.gardenDesign.designVisionNotes}` : ''}\n\nNext we’ll fine-tune layout and schedule on a quick call.`;\n\nreturn [{ json: { ...j, aiSummary: body } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        48
      ],
      "id": "b066270a-1b05-4caf-8bad-465e0b5c6c4a",
      "name": "AI Summary1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2192,
        576
      ],
      "id": "740388d0-c1c6-4dfc-a54a-203af40ccae7",
      "name": "Manual Trigger (Mock)"
    },
    {
      "parameters": {
        "jsCode": "// === Premium Landscapes — Build LLM Brief (single-concept) v1.2 ===\n// Purpose: produce ONE budget-based concept with clean numeric allocations that map to your pricing keys,\n// while intelligently scaling feature richness to stay close to (but not exceed) 95% of total budget.\n\nconst d = $json ?? {};\nconst customer = d.customer || {};\nconst proj = d.project || {};\nconst design = proj.gardenDesign || {};\nconst budget = Math.max(0, Number(proj.totalBudget_gbp || 0));\nconst area   = Math.max(1, Number(proj.totalArea_m2   || 1)); // avoid div/0\nconst styleNotes = String(design.designVisionNotes || proj.notes || proj.stylePreference || \"\")\n  .trim();\n\n// Simple derived targets to anchor realism\nconst perM2 = budget / area;\nconst softCapM2 = Math.round(area * 0.7);  // patio+decking should not exceed 70% of area\nconst lawnMinM2 = Math.round(area * 0.15); // try to keep at least 15% green unless low area\nconst lightingTarget = Math.max(4, Math.round(area / 12)); // rough fittings count\nconst drainageHint = (proj.siteConditions?.drainage || \"\").toLowerCase().includes(\"poor\");\n\n// === Strict JSON schema (single concept) ===\nconst schema = {\n  type: \"object\",\n  required: [\"concept\"],\n  properties: {\n    concept: {\n      type: \"object\",\n      required: [\"name\",\"narrative\",\"allocations\",\"features\",\"notes\",\"risk_checks\"],\n      properties: {\n        name: { type: \"string\" },\n        narrative: { type: \"string\" },\n        allocations: {\n          type: \"object\",\n          additionalProperties: false,\n          properties: {\n            // Hardscape\n            porcelain_patio_m2:      { type: \"number\" },\n            block_paving_m2:         { type: \"number\" },\n            resin_bound_m2:          { type: \"number\" },\n            composite_deck_m2:       { type: \"number\" },\n            softwood_deck_m2:        { type: \"number\" },\n            hardwood_deck_m2:        { type: \"number\" },\n            // Softscape\n            artificial_turf_m2:      { type: \"number\" },\n            natural_turf_m2:         { type: \"number\" },\n            // Paths / edges / drainage\n            gravel_path_m2:          { type: \"number\" },\n            edging_lm:               { type: \"number\" },\n            aco_drain_lm:            { type: \"number\" },\n            // Boundaries\n            fencing_closeboard_lm:   { type: \"number\" },\n            fencing_venetian_lm:     { type: \"number\" },\n            trellis_panels:          { type: \"number\" },\n            gates_each:              { type: \"number\" },\n            // Walls / planters\n            sleeper_wall_m2:         { type: \"number\" },\n            brick_wall_m2:           { type: \"number\" },\n            rendered_planter_m2:     { type: \"number\" },\n            stone_cladding_m2:       { type: \"number\" },\n            // Access / levels\n            steps_count:             { type: \"number\" },\n            bullnose_each:           { type: \"number\" },\n            // Drainage items\n            soakaway_each:           { type: \"number\" },\n            manhole_each:            { type: \"number\" },\n            // Structures\n            pergola_3x3_each:        { type: \"number\" },\n            pergola_attached_each:   { type: \"number\" },\n            // Water / feature\n            pond_liner_m2:           { type: \"number\" },\n            wildlife_pond_m2:        { type: \"number\" },\n            decorative_stone_tonnes: { type: \"number\" },\n            // Lighting\n            lighting_fittings_qty:   { type: \"number\" },\n            lighting_transformers:   { type: \"number\" },\n            lighting_cable_m:        { type: \"number\" },\n            // Hero feature\n            sunken_firepit_each:     { type: \"number\" }\n          }\n        },\n        features:   { type: \"array\", items: { type: \"string\" } },\n        notes:      { type: \"string\" },\n        risk_checks:{ type: \"array\", items: { type: \"string\" } }\n      }\n    }\n  }\n};\n\n// === SYSTEM MESSAGE (DESIGN RULES) ===\nconst system = `\nYou are a senior UK landscape designer at Premium Landscapes.\nDesign ONE realistic concept *purely from the budget* and site info.\nStay within budget and keep a ~5% contingency inside the total.\nOutput STRICT JSON that matches the provided schema; no extra keys or text.\nUse only the allocation keys exactly as named.\nPrioritise low maintenance unless told otherwise. No house/architecture changes.\nRespect proportionality: hardscape should not dominate the entire garden.\n\n=== Budget Utilisation Logic ===\nIf the projected total cost appears significantly below the client's stated budget (under roughly 90%),\nintroduce optional premium features that fit the style and use remaining budget wisely.\n\nAdd features in this priority order until the design reaches approximately 90–95% of the total budget:\n1. Pergola (aluminium, 3×3 m or 4×4 m)\n2. Sunken fire pit area (built-in seating or gas firepit)\n3. Raised rendered planters with coping stones\n4. Small modern water feature or blade wall\n5. Low-voltage path lighting, step lights, or wall wash uplights\n\nEnsure total cost remains between 90% and 95% of the totalBudget_gbp (including contingency).\nNever exceed the client's totalBudget_gbp.\nIf already within range, avoid adding unnecessary extras.\n`;\n\n// === USER MESSAGE (PROJECT INPUTS) ===\nconst user = `\nClient: ${customer.name || \"N/A\"}\nGarden area: ${area} m²\nBudget: £${budget} (≈ £${perM2.toFixed(0)}/m²)\nStyle/notes: ${styleNotes || \"none\"}\nSunlight: ${proj.sunlight || \"unknown\"}\nMaintenance: ${proj.maintenanceLevel || \"unspecified\"}\n\nTargets & hints:\n- Hardscape (patio + decking) combined ≤ ${softCapM2} m² where possible.\n- Keep at least ~${lawnMinM2} m² of green surface unless a fully-hardscape brief is implied.\n- Lighting target ≈ ${lightingTarget} fittings; cable length can be ~3–5 m per fitting.\n- Drainage: ${drainageHint ? \"include aco_drain_lm and consider soakaway_each if needed\" : \"standard drainage; ACO only if necessary\"}.\n- Structures optional; include only if budget allows.\n- If including firepit, use \"sunken_firepit_each\".\n- Use non-zero numeric quantities only; omit zero-value keys entirely.\n- Keep an internal buffer of ~5%.\n`;\n\n// === OUTPUT TO LLM ===\nreturn [{\n  json: {\n    llm: {\n      model: \"gpt-4.1-mini\",\n      temperature: 0.9,\n      max_tokens: 1200,\n      schema,\n      messages: [\n        { role: \"system\", content: system },\n        { role: \"user\",   content: user }\n      ]\n    },\n    customer,\n    project: proj,\n    derived: {\n      perM2,\n      softCapM2,\n      lawnMinM2,\n      lightingTarget,\n      drainageHint\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        48
      ],
      "id": "ae03d805-de4e-4c6e-9251-eeac6557936b",
      "name": "Build LLM Brief"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm.messages[1].content }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{$json.llm.messages[0].content}}"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{$json.llm.messages[1].content}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -864,
        48
      ],
      "id": "e246d507-bad7-4b40-ac96-3de4dbe24852",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 1200,
          "responseFormat": "json_object",
          "temperature": 0.9,
          "timeout": 60000,
          "maxRetries": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        288
      ],
      "id": "52b66a1a-35eb-4bbf-a558-5df3ffc11c5d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eELTpqDo2P3x6OJF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"concepts\"],\n  \"properties\": {\n    \"concepts\": {\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"maxItems\": 1,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"name\", \"narrative\", \"allocations\", \"features\", \"notes\", \"risk_checks\"],\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"narrative\": { \"type\": \"string\" },\n          \"allocations\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"properties\": {\n              \"porcelain_patio_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"block_paving_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"resin_bound_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"composite_deck_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"softwood_deck_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"hardwood_deck_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"artificial_turf_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"natural_turf_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"gravel_path_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"edging_lm\": { \"type\": \"number\", \"minimum\": 0 },\n              \"aco_drain_lm\": { \"type\": \"number\", \"minimum\": 0 },\n              \"fencing_closeboard_lm\": { \"type\": \"number\", \"minimum\": 0 },\n              \"fencing_venetian_lm\": { \"type\": \"number\", \"minimum\": 0 },\n              \"trellis_panels\": { \"type\": \"number\", \"minimum\": 0 },\n              \"gates_each\": { \"type\": \"number\", \"minimum\": 0 },\n              \"sleeper_wall_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"brick_wall_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"rendered_planter_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"stone_cladding_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"steps_count\": { \"type\": \"number\", \"minimum\": 0 },\n              \"bullnose_each\": { \"type\": \"number\", \"minimum\": 0 },\n              \"soakaway_each\": { \"type\": \"number\", \"minimum\": 0 },\n              \"manhole_each\": { \"type\": \"number\", \"minimum\": 0 },\n              \"pergola_3x3_each\": { \"type\": \"number\", \"minimum\": 0 },\n              \"pergola_attached_each\": { \"type\": \"number\", \"minimum\": 0 },\n              \"pond_liner_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"wildlife_pond_m2\": { \"type\": \"number\", \"minimum\": 0 },\n              \"decorative_stone_tonnes\": { \"type\": \"number\", \"minimum\": 0 },\n              \"lighting_fittings_qty\": { \"type\": \"number\", \"minimum\": 0 },\n              \"lighting_transformers\": { \"type\": \"number\", \"minimum\": 0 },\n              \"lighting_cable_m\": { \"type\": \"number\", \"minimum\": 0 },\n              \"sunken_firepit_each\": { \"type\": \"number\", \"minimum\": 0 }\n            }\n          },\n          \"features\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n          \"notes\": { \"type\": \"string\" },\n          \"risk_checks\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n        }\n      }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -560,
        256
      ],
      "id": "dbeec3a3-95d9-440e-8197-1b775eba2c4b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        -224
      ],
      "id": "f8d0b680-d041-4a69-bb93-5f3b602b44da",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// === Map LLM Concept → Products (Premium Landscapes) v3.0 ===\n// Merges the LLM concept into structured product items for pricing.\n\nconst src = $json;\n\n// 1️⃣ Safely locate the concept\nconst concept =\n  src.output?.concepts?.[0] ||            // normal LLM output\n  src.llm?.output?.concepts?.[0] ||       // wrapped under 'llm'\n  src.concept ||                          // already normalized\n  src.selectedConcept ||                  // carried forward\n  null;\n\nif (!concept) {\n  // No concept found → return fallback structure\n  return [\n    {\n      json: {\n        ...src,\n        selectedConcept: null,\n        allocations: {},\n        project: {\n          ...(src.project || {}),\n          products: []\n        }\n      }\n    }\n  ];\n}\n\n// 2️⃣ Build metadata\nconst selectedConcept = {\n  name: concept.name,\n  narrative: concept.narrative,\n  features: concept.features || [],\n  notes: concept.notes || '',\n  risk_checks: concept.risk_checks || []\n};\n\n// 3️⃣ Extract allocations and initialize products array\nconst a = concept.allocations || {};\nconst products = [];\n\nconst add = (type, material, measure, quantity) => {\n  if (!quantity || isNaN(quantity) || quantity <= 0) return;\n  products.push({ type, material, [measure]: Number(quantity) });\n};\n\n// ---------- HARD SURFACES ----------\nadd(\"patio\", \"porcelain\", \"area_m2\", a.porcelain_patio_m2);\nadd(\"paving\", \"block\", \"area_m2\", a.block_paving_m2);\nadd(\"surfacing\", \"resin_bound\", \"area_m2\", a.resin_bound_m2);\nadd(\"deck\", \"composite\", \"area_m2\", a.composite_deck_m2);\nadd(\"deck\", \"softwood\", \"area_m2\", a.softwood_deck_m2);\nadd(\"deck\", \"hardwood\", \"area_m2\", a.hardwood_deck_m2);\nadd(\"turf\", \"artificial\", \"area_m2\", a.artificial_turf_m2);\nadd(\"turf\", \"natural\", \"area_m2\", a.natural_turf_m2);\nadd(\"path\", \"gravel\", \"area_m2\", a.gravel_path_m2);\nadd(\"edging\", \"stone\", \"length_m\", a.edging_lm);\nadd(\"drainage\", \"aco_channel\", \"length_m\", a.aco_drain_lm);\n\n// ---------- FENCING ----------\nadd(\"fencing\", \"closeboard\", \"length_m\", a.fencing_closeboard_lm);\nadd(\"fencing\", \"venetian\", \"length_m\", a.fencing_venetian_lm);\nadd(\"fencing\", \"trellis\", \"qty\", a.trellis_panels);\nadd(\"fencing\", \"gate\", \"qty\", a.gates_each);\n\n// ---------- WALLS / STRUCTURES ----------\nadd(\"wall\", \"sleeper\", \"area_m2\", a.sleeper_wall_m2);\nadd(\"wall\", \"brick\", \"area_m2\", a.brick_wall_m2);\nadd(\"planter\", \"rendered\", \"area_m2\", a.rendered_planter_m2);\nadd(\"cladding\", \"stone\", \"area_m2\", a.stone_cladding_m2);\nadd(\"step\", \"standard\", \"qty\", a.steps_count);\nadd(\"step\", \"bullnose\", \"qty\", a.bullnose_each);\n\n// ---------- DRAINAGE ----------\nadd(\"drainage\", \"soakaway\", \"qty\", a.soakaway_each);\nadd(\"drainage\", \"manhole_upgrade\", \"qty\", a.manhole_each);\n\n// ---------- STRUCTURES ----------\nadd(\"pergola\", \"freestanding\", \"qty\", a.pergola_3x3_each);\nadd(\"pergola\", \"attached\", \"qty\", a.pergola_attached_each);\n\n// ---------- WATER FEATURES ----------\nadd(\"pond\", \"liner\", \"area_m2\", a.pond_liner_m2);\nadd(\"pond\", \"wildlife\", \"area_m2\", a.wildlife_pond_m2);\nadd(\"stone\", \"decorative\", \"tonnes\", a.decorative_stone_tonnes);\n\n// ---------- LIGHTING ----------\nadd(\"lighting\", \"fitting\", \"qty\", a.lighting_fittings_qty);\nadd(\"lighting\", \"transformer\", \"qty\", a.lighting_transformers);\nadd(\"lighting\", \"cable\", \"length_m\", a.lighting_cable_m);\n\n// ---------- FIRE FEATURES ----------\nadd(\"firepit\", \"sunken_gas\", \"qty\", a.sunken_firepit_each);\n\n// 4️⃣ Return enriched payload\nreturn [\n  {\n    json: {\n      ...src,\n      selectedConcept,\n      allocations: a,\n      project: {\n        ...(src.project || {}),\n        products\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        48
      ],
      "id": "28e2ae4b-1072-46ff-aafb-028a8ce145c4",
      "name": "Map LLM Concept → Products"
    },
    {
      "parameters": {
        "jsCode": "// Map parsed concept allocations into project.products[] for pricing\n\nconst src   = $json || {};\nconst alloc = (src.output?.concepts?.[0]?.allocations) || src.allocations || {};\nconst products = [];\n\n// helpers\nconst n = v => Number(v) || 0;\nconst add = (cond, item) => { if (n(cond) > 0) products.push(item); };\n\n// --- patios / paving (m²)\nadd(alloc.porcelain_patio_m2, { type: 'patio', material: 'porcelain', area_m2: n(alloc.porcelain_patio_m2) });\nadd(alloc.block_paving_m2,    { type: 'block paving', area_m2: n(alloc.block_paving_m2) });\nadd(alloc.resin_bound_m2,     { type: 'resin bound', area_m2: n(alloc.resin_bound_m2) });\n\n// --- decking (m²)\nadd(alloc.composite_deck_m2,  { type: 'deck', material: 'composite', area_m2: n(alloc.composite_deck_m2) });\nadd(alloc.softwood_deck_m2,   { type: 'deck', material: 'softwood',  area_m2: n(alloc.softwood_deck_m2) });\nadd(alloc.hardwood_deck_m2,   { type: 'deck', material: 'hardwood',  area_m2: n(alloc.hardwood_deck_m2) });\n\n// --- turf & lawns (m²)\nadd(alloc.artificial_turf_m2, { type: 'turf', material: 'artificial', area_m2: n(alloc.artificial_turf_m2) });\nadd(alloc.natural_turf_m2,    { type: 'turf', material: 'natural',    area_m2: n(alloc.natural_turf_m2) });\n\n// --- paths / edging / drainage (linear m)\nadd(alloc.gravel_path_m2,     { type: 'gravel path', area_m2: n(alloc.gravel_path_m2) }); // priced as m² in your classifier\nadd(alloc.edging_lm,          { type: 'edging',              length_m: n(alloc.edging_lm) });\nadd(alloc.aco_drain_lm,       { type: 'aco channel',         length_m: n(alloc.aco_drain_lm) });\n\n// --- boundaries (lm / panels / each)\nadd(alloc.fencing_closeboard_lm, { type: 'fencing', material: 'closeboard', length_m: n(alloc.fencing_closeboard_lm) });\nadd(alloc.fencing_venetian_lm,   { type: 'fencing', material: 'venetian',   length_m: n(alloc.fencing_venetian_lm) });\nadd(alloc.trellis_panels,        { type: 'trellis', panels: n(alloc.trellis_panels) });\nadd(alloc.gates_each,            { type: 'gate',    qty: n(alloc.gates_each) });\n\n// --- walls / planters / cladding (m²)\nadd(alloc.sleeper_wall_m2,     { type: 'sleeper wall',          area_m2: n(alloc.sleeper_wall_m2) });\nadd(alloc.brick_wall_m2,       { type: 'brick wall',            area_m2: n(alloc.brick_wall_m2) });\nadd(alloc.rendered_planter_m2, { type: 'rendered planter',      area_m2: n(alloc.rendered_planter_m2) });\nadd(alloc.stone_cladding_m2,   { type: 'stone cladding',        area_m2: n(alloc.stone_cladding_m2) });\n\n// --- access / levels\nadd(alloc.steps_count,         { type: 'steps', steps: n(alloc.steps_count) });\nadd(alloc.bullnose_each,       { type: 'bullnose step tread', qty: n(alloc.bullnose_each) });\n\n// --- drainage items (each)\nadd(alloc.soakaway_each,       { type: 'soakaway', qty: n(alloc.soakaway_each) });\nadd(alloc.manhole_each,        { type: 'recessed manhole cover', qty: n(alloc.manhole_each) });\n\n// --- structures / water / aggregates\nadd(alloc.pergola_3x3_each,    { type: 'pergola 3x3', qty: n(alloc.pergola_3x3_each) });\nadd(alloc.pergola_attached_each,{ type: 'pergola attached', qty: n(alloc.pergola_attached_each) });\nadd(alloc.pond_liner_m2,       { type: 'pond liner', area_m2: n(alloc.pond_liner_m2) });\nadd(alloc.wildlife_pond_m2,    { type: 'wildlife pond', area_m2: n(alloc.wildlife_pond_m2) });\nadd(alloc.decorative_stone_tonnes, { type: 'decorative stone', tonnes: n(alloc.decorative_stone_tonnes) });\n\n// --- lighting (qty / lm)\nadd(alloc.lighting_fittings_qty, { type: 'lighting', material: 'spike', fittings: n(alloc.lighting_fittings_qty) });\nadd(alloc.lighting_transformers, { type: 'lighting', material: 'transformer', qty: n(alloc.lighting_transformers) });\nadd(alloc.lighting_cable_m,      { type: 'lighting', material: 'cable', length_m: n(alloc.lighting_cable_m) });\n\n// --- hero feature\nadd(alloc.sunken_firepit_each, { type: 'firepit', qty: n(alloc.sunken_firepit_each) });\n\nreturn [{\n  json: {\n    ...src,\n    project: {\n      ...(src.project || {}),\n      products\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        48
      ],
      "id": "4963717c-3778-43a7-9c1d-245c71e176f9",
      "name": "Map Allocations to Products"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f47b32f-9be8-4bcf-a328-8e82dbb772ec",
              "leftValue": "={{$json.valid}}{{ $json.valid === true || String($json.valid).toLowerCase().trim() === 'true' }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1312,
        64
      ],
      "id": "179546ab-6a59-492f-9682-0cb20abc847a",
      "name": "IF (valid)"
    },
    {
      "parameters": {
        "jsCode": "const j = $json;\nreturn [{\n  json: {\n    topLevelKeys: Object.keys(j),\n    hasOutput: !!j.output,\n    outputKeys: j.output ? Object.keys(j.output) : [],\n    exampleConceptName: j.output?.concepts?.[0]?.name || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -384
      ],
      "id": "03297768-bfd2-4cec-bd06-ffc4ba022316",
      "name": "Test code after merge"
    },
    {
      "parameters": {
        "fromEmail": "premiumlandscapesuk@gmail.com",
        "toEmail": "=thedigitaltailorsdxb@gmail.com",
        "subject": "={{$node[\"validate Input\"].json.customer.name || \"Client\"}} – {{$node[\"validate Input\"].json.project.title || \"Garden Redesign\"}}\n",
        "html": "=<!-- Preheader -->\n<span style=\"display:none!important\">Your tailored quote is attached as a PDF.</span>\n\n<div style=\"font-family:Inter,Arial,sans-serif;line-height:1.5;color:#0b2e4c;\">\n  <p>Hi {{$node[\"validate Input\"].json.customer.name || \"there\"}},</p>\n\n  <p>Thanks for the details — your tailored quote for\n    <strong>{{$node[\"validate Input\"].json.project.title || \"Garden Project\"}}</strong> is ready.</p>\n\n  <p style=\"margin:.8em 0\">\n    <strong>Estimate (incl. VAT):</strong>\n    {{\n      $node[\"Calculate pricing\"].json.pricing?.total\n        ? \"£\" + $node[\"Calculate pricing\"].json.pricing.total.toLocaleString(\"en-GB\")\n        : \"See attached PDF\"\n    }}\n    <span style=\"color:#6b7280\"> — subject to final site survey</span>\n  </p>\n\n  <p style=\"margin:1em 0\">\n    <a href=\"{{$node['validate Input'].json.customer?.bookingUrl || 'mailto:hello@premium-landscapes.co.uk?subject=Site%20visit%20booking'}}\"\n       style=\"background:#0b2e4c;color:#fff;text-decoration:none;padding:10px 16px;border-radius:10px;display:inline-block;\">\n      Book a quick call\n    </a>\n  </p>\n\n  <p style=\"margin:1.2em 0 0\">\n    Best regards,<br>\n    <strong>Premium Landscapes</strong><br>\n    <a href=\"mailto:hello@premium-landscapes.co.uk\">hello@premium-landscapes.co.uk</a> · 07444&nbsp;887813<br>\n    <a href=\"https://www.premium-landscapes.co.uk\">www.premium-landscapes.co.uk</a>\n  </p>\n</div>\n",
        "options": {
          "attachments": "data"
        }
      },
      "id": "e06ec7d9-d1c9-4bd9-9199-991c5935fbb8",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        2144,
        48
      ],
      "typeVersion": 2.1,
      "webhookId": "ab3e512a-7b66-44ee-9210-d627ca379a3d",
      "credentials": {
        "smtp": {
          "id": "dLpXH6yljIeIoVw6",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GIlzFrvqkdYGYQotkKaOox4m6x2qrqvLk0X6xMYJg7s",
          "mode": "list",
          "cachedResultName": "Premium Landscapes Quotes Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIlzFrvqkdYGYQotkKaOox4m6x2qrqvLk0X6xMYJg7s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quotes Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GIlzFrvqkdYGYQotkKaOox4m6x2qrqvLk0X6xMYJg7s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "Customer Name": "={{$json.customerName}}",
            "Email": "={{$json.email}}",
            "Postcode": "={{$json.postcode}}",
            "Products": "={{$json.products}}",
            "AI Summary": "={{$json.aiSummary}}",
            "Quote Total (£)": "={{$json.total}}\n",
            "Status": "\"Sent\"",
            "Phone": "={{$json.phone}}",
            "Drive File URL": "''"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Postcode",
              "displayName": "Postcode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Products",
              "displayName": "Products",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote Total (£)",
              "displayName": "Quote Total (£)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drive File URL",
              "displayName": "Drive File URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5a192d5-9f03-4fce-84a8-ec78350213f3",
      "name": "Log Quote to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2656,
        48
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hR4LdQOOAXNVJApD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normalize whatever binary key the PDF node produced → \"data\"\nreturn items.map(item => {\n  if (!item.binary || Object.keys(item.binary).length === 0) {\n    throw new Error('No binary found from PDF step');\n  }\n  const firstKey = Object.keys(item.binary)[0];   // e.g. \"file\" or \"pdf\"\n  item.binary.data = item.binary[firstKey];       // rename to \"data\"\n  if (firstKey !== 'data') delete item.binary[firstKey];\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        48
      ],
      "id": "5f14aa4d-1445-44e9-9a7b-9f94342e081c",
      "name": "Rename PDF Binary"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...($json.json ?? $json),\n      customerName: $json.customer?.name || \"Client\",\n      projectTitle: $json.project?.title || \"\",\n      totalFormatted: ($json.pricing?.total || 0).toLocaleString(\"en-GB\", { minimumFractionDigits: 2 }),\n    },\n    binary: {\n      data: $binary?.data, // <-- keep the normalized PDF here\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        48
      ],
      "id": "3f8a73d1-e552-450a-b07f-7b05a97408cb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Log Quote — robust totals for Google Sheets\n\nconst data     = $json ?? {};\nconst customer = data.customer ?? {};\nconst project  = data.project  ?? {};\nconst here     = data.pricing  ?? {};\n\n// Helper: get node.json if it exists (try several names)\nfunction getNodeJson(names = []) {\n  try {\n    const bag = $item(0).$node || {};\n    for (const n of names) if (bag[n]?.json) return bag[n].json;\n  } catch (_) {}\n  return null;\n}\n\n// Helper: numeric coercion (strips £, commas, whitespace/newlines)\nconst toNum = (v) => {\n  if (v == null) return 0;\n  const s = String(v).replace(/[£, \\t\\r\\n]/g, '');\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\n\n// Try all likely places the pricing could be\nconst fromCalc   = getNodeJson([\"Calculate pricing\", \"Calculate Pricing\"]);\nconst fromAI     = getNodeJson([\"AI Summary1\", \"AI Summary\"]);\nconst fromBuild1 = getNodeJson([\"Build PDF HTML1\", \"Build PDF HTML\"]);\n\nconst pricing =\n  here?.total ? here :\n  fromCalc?.pricing ? fromCalc.pricing :\n  fromAI?.pricing ? fromAI.pricing :\n  fromBuild1?.pricing ? fromBuild1.pricing :\n  { subtotal: 0, contingency: 0, vat: 0, total: 0 };\n\n// Coerce to pure numbers for Sheets\nconst subtotal    = toNum(pricing.subtotal);\nconst contingency = toNum(pricing.contingency);\nconst vat         = toNum(pricing.vat);\nconst total       = toNum(pricing.total);\n\n// AI summary fallback\nconst summary = (data.aiSummary || project.notes || \"\").toString().trim();\n\n// Optional quick items preview\nconst lines = Array.isArray(pricing.breakdown) ? pricing.breakdown : [];\nconst itemsPreview = lines\n  .map(l => (l.item || l.description || \"\").toString())\n  .filter(Boolean)\n  .slice(0, 6)\n  .join(\", \");\n\nreturn [{\n  json: {\n    Timestamp: new Date().toISOString(),\n    \"Customer Name\": customer.name || \"Client\",\n    Email: customer.email || \"\",\n    Phone: customer.phone || \"\",\n    Postcode: customer.postcode || \"\",\n    \"AI Summary\": summary,\n\n    // ← send *numbers* to Sheets (format the column as Currency in Sheets)\n    \"Quote Total (£)\": total,\n    \"Subtotal (£)\": subtotal,\n    \"Contingency (£)\": contingency,\n    \"VAT (£)\": vat,\n\n    Status: \"Sent\",\n    \"Drive File URL\": data.fileUrl || \"\",\n    \"Items Preview\": itemsPreview,\n    \"Project Title\": project.title || \"\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        48
      ],
      "id": "ead5ec27-bb2d-4396-90b5-614195c81c88",
      "name": "Log Quote"
    },
    {
      "parameters": {
        "options": {
          "responseKey": "=return [\n  {\n    json: {\n      success: true,\n      message: \"Quote logged and sent successfully\",\n      customer: $json.customer?.name || \"Test Client\",\n      email: $json.customer?.email || \"test@example.com\",\n      total: $json.pricing?.total\n        ? `£${Number($json.pricing.total).toLocaleString(\"en-GB\", {\n            minimumFractionDigits: 2,\n          })}`\n        : \"£0.00\",\n    },\n  },\n];\n"
        }
      },
      "id": "5357a71c-7f02-4809-8ca8-be7cece693a8",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2992,
        752
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "resource": "conversion",
        "htmlContent": "={{$json.html}}",
        "filename": "={{ \"Landscaping Quotation - Premium Landscapes\" }}\n",
        "conversionOptions": {
          "paper_size": "a4",
          "orientation": "portrait",
          "conversionOutput": "file"
        }
      },
      "type": "@pdfgeneratorapi/n8n-nodes-pdf-generator-api.pdfGeneratorApi",
      "typeVersion": 1,
      "position": [
        1200,
        48
      ],
      "id": "5a2aae62-321e-4b03-a496-046810e821ba",
      "name": "Convert HTML to PDF1",
      "credentials": {
        "pdfGeneratorApi": {
          "id": "tEyclVvnGiP0hZsZ",
          "name": "PDF Generator account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pass webhook data forward for merging later\nreturn [{ json: $json }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        448
      ],
      "id": "757d46d6-98c7-4c94-b530-e0c7dc5efd3a",
      "name": "Attach Original Webhook Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        400
      ],
      "id": "a64e7af2-f7f3-4437-bb06-bdf540f18136",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// === Premium Landscapes | Proposal PDF (A4 Portrait) ===\n// Version: 1.6.2 | robust data sourcing + richer summary + specific labels + row dedupe\n\n// ---- SOURCE DATA (robust fallbacks) ----\nconst data    = $json ?? {};\nconst client  = data.customer ?? $node[\"validate Input\"]?.json?.customer ?? {};\nconst project = data.project  ?? $node[\"validate Input\"]?.json?.project  ?? {};\nconst pricing = data.pricing  ?? $node[\"Calculate pricing\"]?.json?.pricing ?? { breakdown: [] };\nconst aiText  = (\n  data.aiSummary ??\n  $node[\"AI Summary1\"]?.json?.aiSummary ??\n  $node[\"AI Summary1\"]?.json?.summary ??\n  \"\"\n).toString().trim();\n\n// ---- BRAND ----\nconst LOGO_URL    = \"https://i.imgur.com/pTGHU6S.png\";\nconst BRAND_COLOR = \"#0b2e4c\";\n\n// ---- HELPERS ----\nconst fmtGBP = (n) =>\n  \"£\" + Number(n ?? 0).toLocaleString(\"en-GB\", { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n\nconst tcase = (s=\"\") => s.replace(/\\b\\w/g, m => m.toUpperCase());\nconst joinParts = (...xs) => xs.filter(Boolean).join(\", \");\n\n// Prefer a single address string if present, else rebuild\nconst addr = client.address\n  ? client.address\n  : joinParts(client.houseNumber, client.street, client.city, client.postcode, client.country || \"UK\");\n\n// Map category/variant → friendly label\nfunction labelFor(i){\n  const cat = (i.category||\"\").toLowerCase();\n  const v   = (i.variant||\"\").toLowerCase();\n\n  if (cat===\"patios\"){\n    if (v.includes(\"porcelain\")) return \"Porcelain Patio (20 mm)\";\n    if (v.includes(\"indian_sandstone\")) return \"Indian Sandstone Patio\";\n    if (v.includes(\"limestone\")) return \"Limestone Patio\";\n    if (v.includes(\"granite\")) return \"Granite Paving Patio\";\n    if (v.includes(\"slate\")) return \"Slate Paving Patio\";\n    if (v.includes(\"block_paving\")) return \"Block Paving\";\n    if (v.includes(\"resin\")) return \"Resin-bound Surfacing\";\n    if (v.includes(\"stepping_stone\")) return \"Stepping-stone Pathway\";\n    if (v.includes(\"patterned_inlay_border\")) return \"Patterned Border Course\";\n    return \"Patio / Paving\";\n  }\n  if (cat===\"decking\"){\n    if (v.includes(\"composite\")) return \"Composite Decking\";\n    if (v.includes(\"hardwood\"))  return \"Hardwood Decking\";\n    if (v.includes(\"softwood\"))  return \"Treated Softwood Decking\";\n    if (v.includes(\"subframe\"))  return \"Decking Subframe & Pedestals\";\n    return \"Decking\";\n  }\n  if (cat===\"turf\"){\n    if (v.includes(\"artificial\")) return \"Artificial Grass (35–40 mm)\";\n    if (v.includes(\"regrade\"))    return \"Lawn Regrade & Topsoil\";\n    if (v.includes(\"edging\"))     return \"Timber/Metal Lawn Edging\";\n    if (v.includes(\"wildflower\")) return \"Wildflower Turf\";\n    return \"Rolled Natural Turf\";\n  }\n  if (cat===\"fencing\"){\n    if (v.includes(\"double_slatted\") || v.includes(\"venetian\")) return \"Double-slatted / Venetian Fencing\";\n    if (v.includes(\"trellis\"))       return \"Decorative Trellis Panel\";\n    if (v.includes(\"concrete_posts\"))return \"Concrete Posts & Gravel Boards (per bay)\";\n    if (v.includes(\"timber_posts\"))  return \"Timber Posts & Gravel Boards (per bay)\";\n    if (v.includes(\"gate\"))          return \"Timber Garden Gate\";\n    return \"Closeboard / Featheredge Fencing\";\n  }\n  if (cat===\"walls\"){\n    if (v.includes(\"sleeper\"))  return \"Sleeper Retaining Wall\";\n    if (v.includes(\"brick\"))    return \"Brick Garden Wall\";\n    if (v.includes(\"rendered_block_planter\")) return \"Rendered Block Planter\";\n    if (v.includes(\"stone_walling\")) return \"Stone Walling / Cladding\";\n    if (v.includes(\"copings\"))  return \"Copings & Caps\";\n    if (v.includes(\"paving_edging\")) return \"Paving Edging / Kerbs / Setts\";\n    return \"Walls & Raised Beds\";\n  }\n  if (cat===\"access\"){\n    if (v.includes(\"bullnose\")) return \"Bullnose Step Tread\";\n    if (v.includes(\"ramp\")||v.includes(\"threshold\")) return \"Non-slip Ramp / Threshold\";\n    if (v.includes(\"gravel_path\")) return \"Gravel Path (with grids)\";\n    return \"Paved Steps\";\n  }\n  if (cat===\"drainage\"){\n    if (v.includes(\"aco\")) return \"Linear ACO Channel\";\n    if (v.includes(\"soakaway\")) return \"Soakaway Crate System\";\n    if (v.includes(\"manhole\")) return \"Recessed Manhole Cover\";\n    return \"Drainage\";\n  }\n  if (cat===\"structures\"){\n    if (v.includes(\"3x3\"))          return \"Timber Pergola (3 × 3 m)\";\n    if (v.includes(\"freestanding\")) return \"Freestanding HD Timber Pergola\";\n    if (v.includes(\"attached\"))     return \"Attached Timber Pergola\";\n    if (v.includes(\"pond_liner\"))   return \"Pond Liner (Natural Edge)\";\n  }\n  if (cat===\"water_features\"){\n    if (v.includes(\"water_table\")) return \"Corten Water Table\";\n    return \"Corten Bowl on Plinth\";\n  }\n  if (cat===\"features\" && v.includes(\"firepit\")) return \"Sunken Firepit\";\n  if (cat===\"aggregates\" && v.includes(\"decorative_stone\")) return \"Decorative Stone (per tonne)\";\n  return tcase(i.item || \"Item\");\n}\n\n// ---- DEDUPE BREAKDOWN (same cat+variant+unit+unitCost) ----\nconst grouped = {};\nfor (const i of (pricing.breakdown || [])) {\n  const key = [i.category||\"\", i.variant||\"\", i.unit||\"\", Number(i.unitCost)||0].join(\"|\");\n  if (!grouped[key]) {\n    grouped[key] = { ...i, qty: Number(i.qty)||0, lineTotal: Number(i.lineTotal)||0 };\n  } else {\n    grouped[key].qty       += Number(i.qty)||0;\n    grouped[key].lineTotal += Number(i.lineTotal)||0;\n  }\n}\nconst rowsData = Object.values(grouped);\n\n// ---- TABLE ROWS ----\nconst rows = rowsData.map(i => `\n  <tr>\n    <td>${labelFor(i)}</td>\n    <td>${tcase(i.description || \"\")}</td>\n    <td style=\"text-align:center\">${i.qty ?? 0}</td>\n    <td style=\"text-align:center\">${i.unit || \"\"}</td>\n    <td style=\"text-align:right\">${fmtGBP(i.unitCost)}</td>\n    <td style=\"text-align:right;font-weight:600\">${fmtGBP(i.lineTotal)}</td>\n  </tr>\n`).join(\"\");\n\n// ---- RICHER PROJECT SUMMARY ----\nfunction projectSummary(){\n  const chips = [];\n  if (project.stylePreference)      chips.push(`Style: ${tcase(project.stylePreference)}`);\n  if (project.maintenanceLevel)     chips.push(`Maintenance: ${tcase(project.maintenanceLevel)}`);\n  if (project.totalArea_m2 != null) chips.push(`Area: ${project.totalArea_m2} m²`);\n  if (project.totalBudget_gbp!=null)chips.push(`Budget: ${fmtGBP(project.totalBudget_gbp)}`);\n\n  const lines = [];\n  const sc = project.siteConditions ?? {};\n  if (sc.access)   lines.push(`<li><strong>Access:</strong> ${tcase(sc.access)}</li>`);\n  if (sc.soilType) lines.push(`<li><strong>Soil:</strong> ${tcase(sc.soilType)}</li>`);\n  if (sc.drainage) lines.push(`<li><strong>Drainage:</strong> ${tcase(sc.drainage)}</li>`);\n  if (project.notes) lines.push(`<li><strong>Notes:</strong> ${tcase(project.notes)}</li>`);\n\n  return `\n    <div><strong>Title:</strong> ${project.title || \"\"}</div>\n    ${chips.length ? `<div class=\"chips\">${chips.map(c=>`<span>${c}</span>`).join(\"\")}</div>` : \"\"}\n    ${lines.length ? `<ul class=\"detail-list\">${lines.join(\"\")}</ul>` : \"\"}\n  `;\n}\n\n// ---- HTML ----\nconst html = `\n<!doctype html>\n<html>\n<head>\n<meta charset=\"utf-8\"/>\n<title>Premium Landscapes Proposal</title>\n<style>\n  @page { size: A4; margin: 18mm; }\n  body { font-family: 'Open Sans', Arial, sans-serif; color:#111827; background:#fff; margin:0; }\n  header { display:flex; align-items:center; justify-content:space-between; border-bottom:3px solid ${BRAND_COLOR}; padding:20px 36px 10px; }\n  .logo-wrap img { width:160px; height:auto; display:block; border:0; image-rendering:auto; }\n  header .title-block{ text-align:right; }\n  header h1{ color:${BRAND_COLOR}; font-size:22px; margin:0; letter-spacing:.3px; }\n  header p{ color:#6B7280; font-size:12px; margin:4px 0 0; }\n  main{ padding:28px 36px; }\n  h2{ color:${BRAND_COLOR}; font-size:15px; background:#f5f7f9; border-left:4px solid ${BRAND_COLOR}; padding:6px 8px; margin:26px 0 10px; border-radius:3px; }\n  .section{ font-size:13px; line-height:1.6; }\n  .muted{ color:#6B7280; font-size:12px; }\n  .chips span{ display:inline-block; background:#EEF2FF; color:${BRAND_COLOR}; border-radius:8px; padding:3px 8px; font-size:11px; margin:3px 4px 0 0; }\n  .detail-list{ margin:8px 0 0 18px; padding:0; }\n  .detail-list li{ margin:2px 0; }\n  .ai-summary{ background:#f9fafb; border-left:4px solid ${BRAND_COLOR}; padding:14px 16px; border-radius:6px; font-size:12.5px; color:#1f2937; margin-top:10px; box-shadow:0 0 6px rgba(0,0,0,.03); }\n  table{ width:100%; border-collapse:collapse; font-size:12.5px; margin-top:12px; page-break-inside:auto; }\n  thead{ display:table-header-group; }\n  tr{ page-break-inside:avoid; page-break-after:auto; }\n  th,td{ border:1px solid #E5E7EB; padding:8px 6px; vertical-align:top; }\n  th{ background:#F3F4F6; text-align:left; color:${BRAND_COLOR}; font-weight:600; }\n  tr:nth-child(even) td{ background:#FAFAFA; }\n  .totals-box{ margin-top:18px; width:300px; margin-left:auto; border:1px solid #E5E7EB; border-radius:8px; padding:12px 16px; font-size:13px; background:#fff; box-shadow:0 1px 4px rgba(0,0,0,.04); }\n  .totals-box table{ width:100%; border:none; border-collapse:collapse; }\n  .totals-box td{ border:none; padding:4px 0; }\n  .totals-box tr:last-child td{ border-top:1px solid #E5E7EB; font-weight:700; padding-top:8px; font-size:14px; color:${BRAND_COLOR}; }\n  footer{ font-size:11px; color:#6B7280; border-top:1px solid #E5E7EB; text-align:center; padding:10px 0 8px; margin-top:30px; letter-spacing:.1px; }\n</style>\n</head>\n<body>\n  <header>\n    <div class=\"logo-wrap\"><img src=\"${LOGO_URL}\" alt=\"Premium Landscapes Logo\"></div>\n    <div class=\"title-block\">\n      <h1>Garden Design & Build Proposal</h1>\n      <p>Prepared for ${client.name || \"Client\"}</p>\n    </div>\n  </header>\n\n  <main>\n    <section class=\"section\">\n      <h2>Client Information</h2>\n      <div><strong>${client.name || \"Client\"}</strong></div>\n      <div>${addr || \"\"}</div>\n      ${client.email ? `<div class=\"muted\">${client.email}</div>` : \"\"}\n      ${client.phone ? `<div class=\"muted\">${client.phone}</div>` : \"\"}\n    </section>\n\n    <section class=\"section\">\n      <h2>Project Summary</h2>\n      ${projectSummary()}\n    </section>\n\n    ${aiText ? `\n      <section class=\"ai-summary\">\n        <strong>AI Project Summary</strong><br><br>${aiText.replace(/\\n/g,\"<br>\")}\n      </section>` : \"\"}\n\n    <section class=\"section\">\n      <h2>Pricing Breakdown</h2>\n      <table>\n        <thead>\n          <tr><th>Item</th><th>Description</th><th>Qty</th><th>Unit</th><th>Unit Cost</th><th>Total</th></tr>\n        </thead>\n        <tbody>${rows || `<tr><td colspan=\"6\">No items found</td></tr>`}</tbody>\n      </table>\n\n      <div class=\"totals-box\">\n        <table>\n          <tr><td>Subtotal</td><td style=\"text-align:right\">${fmtGBP(pricing.subtotal)}</td></tr>\n          <tr><td>Contingency</td><td style=\"text-align:right\">${fmtGBP(pricing.contingency)}</td></tr>\n          <tr><td>VAT</td><td style=\"text-align:right\">${fmtGBP(pricing.vat)}</td></tr>\n          <tr><td>Grand Total</td><td style=\"text-align:right\">${fmtGBP(pricing.total)}</td></tr>\n        </table>\n      </div>\n    </section>\n\n    <footer>\n      hello@premium-landscapes.co.uk &nbsp;|&nbsp; 07444 887813 &nbsp;|&nbsp; www.premium-landscapes.co.uk<br>\n      <span>All quotes subject to final site survey and material availability.</span>\n    </footer>\n  </main>\n</body>\n</html>\n`;\n\n// Return for converter + downstream filename\nreturn [{\n  json: {\n    html,\n    pricing,\n    fileName: `Landscaping Quotation - ${client.name || 'Client'}.pdf`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        48
      ],
      "id": "9d632b5a-1f46-4ed2-ab66-cccab1c8a393",
      "name": "Build PDF HTML"
    }
  ],
  "pinData": {
    "Manual Trigger (Mock)": [
      {
        "json": {
          "customer": {
            "name": "Sarah Thompson",
            "email": "sarah.thompson@example.com",
            "phone": "07712 345678",
            "postcode": "B15 2TT",
            "city": "Birmingham",
            "street": "Oak Avenue",
            "houseNumber": "42",
            "address": "42, Oak Avenue, Birmingham, B15 2TT, UK"
          },
          "project": {
            "title": "Full Garden Redesign at B15 2TT",
            "type": "full_garden_redesign",
            "totalArea_m2": 150,
            "totalBudget_gbp": 35000,
            "layoutType": "standard",
            "sunlight": "partial sun",
            "stylePreference": "contemporary",
            "maintenanceLevel": "low maintenance",
            "siteConditions": {
              "access": "standard access",
              "soilType": "loam",
              "drainage": "good"
            },
            "products": [],
            "extras": {
              "pergola": {
                "include": true
              },
              "firePit": {
                "include": true
              },
              "waterFeature": {
                "include": true
              }
            },
            "notes": "low maintenance & pet friendly",
            "gardenDesign": {
              "budgetBasedDesign": true,
              "categories": {}
            }
          },
          "metadata": {
            "source": "website_quote_form",
            "timestamp": "2025-11-05T17:00:00Z",
            "quoteType": "full_garden_redesign",
            "webhookDestination": "https://n8n.example.com/webhook/premium-landscapes-full-redesign"
          }
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate Input": {
      "main": [
        [
          {
            "node": "IF (valid)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Attach Original Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate pricing": {
      "main": [
        [
          {
            "node": "AI Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Mock)": {
      "main": [
        []
      ]
    },
    "AI Summary1": {
      "main": [
        [
          {
            "node": "Build PDF HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Brief": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Test code after merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Map LLM Concept → Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map LLM Concept → Products": {
      "main": [
        [
          {
            "node": "Map Allocations to Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (valid)": {
      "main": [
        [
          {
            "node": "Build LLM Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Allocations to Products": {
      "main": [
        [
          {
            "node": "Calculate pricing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test code after merge": {
      "main": [
        []
      ]
    },
    "Log Quote to Google Sheets": {
      "main": [
        []
      ]
    },
    "Rename PDF Binary": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Quote": {
      "main": [
        [
          {
            "node": "Log Quote to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF1": {
      "main": [
        [
          {
            "node": "Rename PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Quote",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Original Webhook Data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Log Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9683001-d350-4191-98dc-e654677ae557",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1c866f51f89be40bb7a8fd6d598585ff0ef85e3ee97add539aaea059383a17d"
  },
  "id": "bcncolaCBzUvgf2b",
  "tags": []
}